certifi==2025.10.5
charset-normalizer==3.4.4
idna==3.11
linkify-it-py==2.0.3
markdown-it-py==4.0.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
platformdirs==4.5.0
Pygments==2.19.2
requests==2.32.5
rich==14.2.0
textual==0.89.1
typing_extensions==4.15.0
uc-micro-py==1.0.3
urllib3==2.5.0
